<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leo.androidtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:logo="@drawable/back_arrow1"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="activity.FlashActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="activity.BaseInfoActvity"
            android:label="@string/ac_gridview_0" >
        </activity>
        <activity
            android:name="activity.MapWebViewActivity"
            android:label="@string/ac_gridview_1" >
        </activity>
        <activity
            android:name="activity.FupinDataActivity"
            android:label="@string/ac_gridview_2" >
        </activity>
        <activity
            android:name="activity.FupinProjectManageActivity"
            android:label="@string/ac_gridview_3" >
        </activity>
        <activity android:name="activity.FupinProjectDetailActivity" >
        </activity>
        <activity
            android:name="activity.FupinCheckActivity"
            android:label="@string/ac_gridview_4" >
        </activity>
        <activity
            android:name="activity.StatisticsAnalyzeActivity"
            android:label="@string/ac_gridview_5" >
        </activity>
        <activity
            android:name="activity.NoticeAnnouncementActvity"
            android:label="@string/ac_gridview_6" >
        </activity>
        <activity android:name="activity.NoticeDetailActivity" >
        </activity>
        <activity
            android:name="activity.PolicyMessageActivity"
            android:label="@string/ac_gridview_7" >
        </activity>
        <activity android:name="activity.PolicyDetailActivity" >
        </activity>
        <activity
            android:name="activity.FupinDetailActivity"
            android:label="@string/ac_gridview_8" >
        </activity>
        <activity
            android:name="activity.WebActivity" >
        </activity>
    </application>

</manifest>